body {
width:100%;
padding: 110px 55px;
background-image:url('../images/topstartups.jpg');
}

.card-img-top {
    width: 100%;
}

.card {
    width: 300px;
}

.navbar-text {
    width: 250px;
    
}

.demo-card {
  max-width: 300px;
  margin: 0 auto 100px;
  overflow: hidden;
}